<% include ./partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">
        Edit <%= diary.title %>   
    </div>
    <form class="ui form" action="/diary/<%= diary._id %>?_method=PUT " method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="diary[title]" value="<%= diary.title %>">
        </div>
        
        <div class="field">
            <label>Image</label>
            <input type="text" name="diary[image]" value="<%= diary.image %>">
        </div>
        
        <div class="field">
            <label>What do you think...</label>
            <textarea name="diary[content]"><%= diary.content %></textarea>
        </div>
        
        <button class="ui button big" >Submit</button>
        
    </form>
</div>

<% include ./partials/footer %>